body {
    margin: 0 0;
  }

.common_width{
    width: 90vw;
    max-width: 1140px;
}

.align_center{
    margin: auto;
}

h1:first-child {
    margin-top: 100px;
}

.no_border {
    border: none;
    margin-left: 0;
    padding:0;
}


.navbar{
  height: 64px;
  font-size: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: navy;
  overflow: hidden; 
}

.navbar ul {
  list-style-type: none;
  margin: 15px;
}

.navbar li {
  display: inline;
}
.navbar a{
  text-decoration: none;
  color: lightgray;
  padding: 18px 12px;
}
.navbar a:hover{
   color: white;
}

.navbar a.active{
  border-bottom: 5px solid rgb(241, 86, 90);
}

.navbar img{
  height: 20px;
  width: 20px;
  filter: blur(1px);
}

.navbar img:hover{
  filter: blur(0);
} 

.border_bottom{
  border-bottom: 1px solid black;
}

.block{
  display: block;
}

.footer{
  padding: 0 20px;
}